*.suo
*.scc
*.vspcc
*.vspscc
*.cache
*.exe
*.pdb
*.csproj.FileListAbsolute.txt
*.datasource
bin/
build.force
Thumbs.db
!Lib/*.dll
!Lib/*.pdb
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper

#Tests
######
/ImeTrackr.Tests