@model ImeTrackr.ViewModels.OrganizationDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Organization</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organization.Name)
    </div>
    <div class="display-label">Organization Contacts</div>
    @foreach (var item in Model.Contacts)
    {
        <div class="display-field"> @Html.ActionLink(item.FullName, "../Contact/Details", new { id = item.Id }) </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Organization.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
