-- Script Date: 11/30/2011 5:12 PM  - Generated by ExportSqlCe version 3.5.1.8
-- Database information:
-- Locale Identifier: 1033
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: D:\Documents\Visual Studio 2010\Projects\ImeTrackr\ImeTrackr\App_Data\ImeTrackrDbBAK11-30-2011.sdf
-- ServerVersion: 4.0.8482.1
-- DatabaseSize: 151552
-- Created: 11/30/2011 4:55 PM

-- User Table information:
-- Number of tables: 8
-- Contacts: 1 row(s)
-- EdmMetadata: 1 row(s)
-- Evaluations: 0 row(s)
-- EvaluationViewModels: 0 row(s)
-- Organizations: 1 row(s)
-- PhoneCalls: 0 row(s)
-- Plaintiffs: 0 row(s)
-- Teches: 0 row(s)

CREATE TABLE [Contacts] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [OrganizationId] int NOT NULL
, [FirstName] nvarchar(4000) NULL
, [LastName] nvarchar(4000) NULL
, [PhoneNumber] nvarchar(4000) NULL
, [JobTitle] nvarchar(4000) NULL
, [Email] nvarchar(4000) NULL
, [Notes] nvarchar(4000) NULL
, [Organization_Id] int NULL
);
GO
CREATE TABLE [EdmMetadata] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [ModelHash] nvarchar(4000) NULL
);
GO
CREATE TABLE [Evaluations] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [PlaintiffId] int NULL
, [OrganizationId] int NULL
, [ContactId] int NULL
, [TechId] int NULL
, [Notes] nvarchar(4000) NULL
, [DayOne] datetime NULL
, [DayTwo] datetime NULL
, [CaseNumber] nvarchar(4000) NULL
, [CaseName] nvarchar(4000) NULL
, [IsComplete] bit NOT NULL
);
GO
CREATE TABLE [EvaluationViewModels] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [FirstName] nvarchar(4000) NULL
, [LastName] nvarchar(4000) NULL
, [DOB] datetime NULL
, [SSN] int NOT NULL
, [CaseName] nvarchar(4000) NULL
, [CaseNumber] nvarchar(4000) NULL
, [ContactId] int NOT NULL
, [OrganizationId] int NOT NULL
);
GO
CREATE TABLE [Organizations] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [Name] nvarchar(4000) NULL
, [StAddress] nvarchar(4000) NULL
, [City] nvarchar(4000) NULL
, [State] nvarchar(4000) NULL
, [Zip] int NOT NULL
, [MainPhone] nvarchar(4000) NULL
, [Fax] nvarchar(4000) NULL
);
GO
CREATE TABLE [PhoneCalls] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [ContactId] int NOT NULL
, [PlaintiffId] int NULL
, [Date] datetime NULL
, [Message] nvarchar(4000) NULL
, [IsComplete] bit NOT NULL
);
GO
CREATE TABLE [Plaintiffs] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [ContactId] int NULL
, [FirstName] nvarchar(4000) NULL
, [LastName] nvarchar(4000) NULL
, [DOB] datetime NULL
, [SSN] int NOT NULL
);
GO
CREATE TABLE [Teches] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [FirstName] nvarchar(4000) NULL
, [LastName] nvarchar(4000) NULL
, [Initials] nvarchar(4000) NULL
);
GO
SET IDENTITY_INSERT [Contacts] ON;
GO
INSERT INTO [Contacts] ([Id],[OrganizationId],[FirstName],[LastName],[PhoneNumber],[JobTitle],[Email],[Notes],[Organization_Id]) VALUES (1,1,N'GoingTo',N'Backup',null,null,null,null,null);
GO
SET IDENTITY_INSERT [Contacts] OFF;
GO
SET IDENTITY_INSERT [EdmMetadata] ON;
GO
INSERT INTO [EdmMetadata] ([Id],[ModelHash]) VALUES (1,N'077C2A48034BEC9AA5F094F982DEC7DD0AAD48A890BB57D8A8795CA6613A4F5D');
GO
SET IDENTITY_INSERT [EdmMetadata] OFF;
GO
SET IDENTITY_INSERT [Organizations] ON;
GO
INSERT INTO [Organizations] ([Id],[Name],[StAddress],[City],[State],[Zip],[MainPhone],[Fax]) VALUES (1,N'N/A',null,null,null,0,null,null);
GO
SET IDENTITY_INSERT [Organizations] OFF;
GO
ALTER TABLE [Contacts] ADD CONSTRAINT [PK__Contacts__0000000000000042] PRIMARY KEY ([Id]);
GO
ALTER TABLE [EdmMetadata] ADD CONSTRAINT [PK__EdmMetadata__000000000000009A] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Evaluations] ADD CONSTRAINT [PK__Evaluations__0000000000000018] PRIMARY KEY ([Id]);
GO
ALTER TABLE [EvaluationViewModels] ADD CONSTRAINT [PK__EvaluationViewModels__0000000000000090] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Organizations] ADD CONSTRAINT [PK__Organizations__000000000000006A] PRIMARY KEY ([Id]);
GO
ALTER TABLE [PhoneCalls] ADD CONSTRAINT [PK__PhoneCalls__0000000000000054] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Plaintiffs] ADD CONSTRAINT [PK__Plaintiffs__000000000000002A] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Teches] ADD CONSTRAINT [PK__Teches__0000000000000078] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Contacts] ADD CONSTRAINT [Contact_Organization] FOREIGN KEY ([OrganizationId]) REFERENCES [Organizations]([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Contacts] ADD CONSTRAINT [Organization_Contacts] FOREIGN KEY ([Organization_Id]) REFERENCES [Organizations]([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Evaluations] ADD CONSTRAINT [Contact_Evaluations] FOREIGN KEY ([ContactId]) REFERENCES [Contacts]([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Evaluations] ADD CONSTRAINT [Organization_Evaluations] FOREIGN KEY ([OrganizationId]) REFERENCES [Organizations]([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Evaluations] ADD CONSTRAINT [Plaintiff_Evaluations] FOREIGN KEY ([PlaintiffId]) REFERENCES [Plaintiffs]([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Evaluations] ADD CONSTRAINT [Tech_Evaluations] FOREIGN KEY ([TechId]) REFERENCES [Teches]([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [PhoneCalls] ADD CONSTRAINT [PhoneCall_Contact] FOREIGN KEY ([ContactId]) REFERENCES [Contacts]([Id]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [PhoneCalls] ADD CONSTRAINT [PhoneCall_Plaintiff] FOREIGN KEY ([PlaintiffId]) REFERENCES [Plaintiffs]([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Plaintiffs] ADD CONSTRAINT [Contact_Plaintiffs] FOREIGN KEY ([ContactId]) REFERENCES [Contacts]([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO

